.cell{
    width: 75px;
    height: 75px;
    border: 2px solid #000;
    font-size: 50px;
    box-shadow: 0 0 0 2px;
    line-height:75px;
}
.gameContainer{
    text-align: center;
    font-family: "Permanent Marker", cursive;

}
#game-board{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    gap: 0;
}
#reset-button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}
#reset-button:hover{
    background-color: #45a049;
}